<h1>Create an Account</h1>
<%= form_for @user do |f| %>
  <%= f.label :First_name %>
  <%= f.text_field :first_name %>

  <%= f.label :Last_name%>
  <%= f.text_field :last_name %>

  <%= f.label :Email %>
  <%= f.email_field :email %>

  <%= f.label :Phone_number %>
  <%= f.email_field :phone_number %>

  <%= f.label :Password %>
  <%= f.password_field :password %>

  <%= f.label :Confirm_password %>
  <%= f.password_field :password_confirmation %>

  <%= f.submit "Register" %>
<% end %>
