<script src="//maps.google.com/maps/api/js?key=<%= ENV["API_KEY"] %>"></script>
<%= content_tag("div", nil, :id => 'js-properties', :data => {:properties => all_coordinates}) %>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["API_KEY"] %>&callback=initMap"
type="text/javascript">
</script>
<%= javascript_include_tag 'map.js', type: "text/javascript"%>

<h1>Welcome to Shelter, a community based app for those in need and those wanting to help.<br />
Please click one of the options below to log in.</h1>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<section class="tiles">
  <article class="style1">
    <span class="image">
      <%= image_tag "g.png" %>
    </span>
    <a href="<%= google_login_path %>">
      <h2>Google</h2>
      <div class="content">
        <p>Use Google Authentication to sign in.</p>
      </div>
    </a>
  </article>
  <article class="style2">
    <span class="image">
      <%= image_tag "fb.png" %>
    </span>
    <a href="fb.html">
      <h2>Facebook</h2>
      <div class="content">
        <p>Use Facebook Authentication to sign in.</p>
      </div>
    </a>
  </article>
  <article class="style3">
    <span class="image">
      <%= image_tag "typing.png" %>
    </span>
    <a href="<%= login_path %>">
      <h2>Manual</h2>
      <div class="content">
        <p>Sign in manually to access the app.</p>
      </div>
    </a>
  </article>
</section>

<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<%= button_to "About", about_path, method: :get, class: "about-btn" %>
<%= button_to "How It Works", info_path, method: :get, class: "info-btn" %>
<% if current_user %>
  <p>Welcome, <%= current_user.email %></p>
  <%= link_to "Logout", logout_path, method: :delete , class: "logout-button"%>
<% else %>
  <%= link_to "Login", login_path %>
<% end %>
