<ul>
  <% @properties.each do |property| %>
    <% if property.status == "approved" %>
      <h2>Approved</h2>
      <li class="approved">
        <%= property.name %></br>
        <%= property.street_address %></br>
        <%= property.city %>, <%= property.state %></br>
        <%= property.rooms_available %>
      </li>
    <% elsif property.status == "pending" %>
      <h2>Pending</h2>
      <li class="pending">
        <%= property.name %></br>
        <%= property.street_address %></br>
        <%= property.city %>, <%= property.state %></br>
        <%= property.rooms_available %>
      </li>
    <% elsif property.status == "complete" %>
      <h2>Complete</h2>
      <li class="complete">
        <%= property.name %></br>
        <%= property.street_address %></br>
        <%= property.city %>, <%= property.state %></br>
        <%= property.rooms_available %>
      </li>
    <% end %>
  <% end %>
</ul>
