<div class"">
  <% @properties.each do |property| %>
    <% if property.approved? %>
      <h3>Approved</h3>
        <div class="approved">
          <p>
          <%= property.street_address %><br>
          <%= property.city %>, <%= property.state %><br>
          </p>
          <p>
            Rooms Available: <%= property.rooms_available %>
          </p>
        </div>
    <% elsif property.pending? %>
      <h3>Pending</h3>
        <div class="pending">
          <p>
            <%= property.street_address %><br>
            <%= property.city %>, <%= property.state %><br>
          </p>
          <p>
            Rooms Available: <%= property.rooms_available %><br>
          </p>
        </div>
    <% elsif property.complete? %>
      <h3>Complete</h3>
        <div class="complete">
          <p>
            <%= property.street_address %><br>
            <%= property.city %>, <%= property.state %><br>
          </p>
          <p>
            Rooms Available: <%= property.rooms_available %><br>
          </p>
        </div>
    <% end %>
  <% end %>
</div>

