<div class"">
  <h3>Pending</h3>
    <% @properties.pending.each do |property| %>
      <div class="pending">
        <p class="pending">
        <%= property.street_address %><br>
        <%= property.city %>, <%= property.state %><br>
          Rooms Available: <%= property.rooms_available %>
        <%= button_to "Approve", host_shelters_property_status_accepted_path(property) %> 
        <%= button_to "Cancel", host_shelters_property_status_cancelled_path(property) %> 
        </p>
      </div>
    <% end %>

  <h3>Approved</h3>
    <% @properties.approved.each do |property| %>
      <div class="approved">
        <p class="approved">
          <%= property.street_address %><br>
          <%= property.city %>, <%= property.state %><br>
          Rooms Available: <%= property.rooms_available %><br>
        </p>
        <%= button_to "Complete", host_shelters_property_status_complete_path(property) %> 
      </div>
    <% end %>

  <h3>Complete</h3>
    <% @properties.complete.each do |property| %>
      <div class="complete">
        <p class="complete">
          <%= property.street_address %><br>
          <%= property.city %>, <%= property.state %><br>
          Rooms Available: <%= property.rooms_available %><br>
        </p>
      </div>
    <% end %>
</div>

