<h1>Properties Show Page</h1>
<ul>
  <%= @property.street_address %>
  <%= @property.city %>
  <%= @property.state %>
  <%= @property.latitude %>
  <%= @property.longitude %>
  <%= @property.rooms_available %>
</ul>
