
<div class="topnav" id="myTopnav">
  <%= link_to "Search for Shelter", root_path, class: "title" %>
  <%= link_to "About", about_path, method: :get, class: "title" %>
  <%= link_to "How It Works", info_path, method: :get, class: "title" %>
  <%= link_to "Home", root_path, class: "title" %>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
</div>
<p></p>
<a href='/' class="logo">
  <span class="symbol"> <%= image_tag "home_icon.png" %> </span>
  <span class="title">Shelter</span>
</a>
