
<%= button_to "About", about_path, method: :get, class: "about-btn" %>
<%= button_to "How It Works", info_path, method: :get, class: "info-btn" %>
<%= button_to "Home", root_path, class: "info-btn" %>
<%= button_to "Search for Shelter", root_path, class: "info-btn" %>
<%= mail_to "shelterapp@turing.io?subject=ShelterApp" do %>
  <button class="info-btn">Contact</button>
<% end %>

<br><br>

<a href='/' class="logo">
  <span class="symbol"> <%= image_tag "home_icon.png" %> </span>
  <span class="title">Shelter</span>
</a>
