<!DOCTYPE html>
<html>
  <head>
    <title>Shelter - Community when you need it most</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slideout/1.0.1/slideout.min.js"></script>
    <%= stylesheet_link_tag 'main.css', media: 'all' %>
    <%= stylesheet_link_tag 'index.css', media: 'all' %>
    <%= javascript_include_tag 'jquery.min.js' %>
    <%= javascript_include_tag 'main.js' %>
    <%= javascript_include_tag 'skel.min.js' %>
    <%= javascript_include_tag 'util.js' %>
  </head>

  <body>
    <div>
      <% flash.each do |key, value| %>
      <p> <%= value %> </p>
      <% end %>
    </div>

		<div id="wrapper">
      <header id="header">
        <div class="inner">

          <%= render "layouts/navmenu" %>
          <%= render "layouts/navbar" %>

        </div>
      </header>




        	<div id="main">
						<div class="inner">

              <%= yield %>

						</div>

        	</div>
        <%= render "layouts/footer" %>

      </div>

      <script src="dist/slideout.min.js"></script>
      <script>
        var slideout = new Slideout({
          'panel': document.getElementById('panel'),
          'menu': document.getElementById('menu'),
          'padding': 256,
          'tolerance': 70
        });
      </script>
    </body>
</html>
